@model DoThis 

@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <div class="logo">
        <span>Your Logo</span>
    </div>
    <h1>@Model.Activity</h1>
    @if (Model.Link != "")
    {
      <p>Learn about <a href="@Model.Link">random activity link</a>.</p>       
    }
    <p class="subtitle">Start creating amazing web applications!</p>
    <a href="/Home/Index" class="cta-button">Get Started</a>
</div>


//Make more pages