@model DoThis

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Home";
}

<div class="home-page">
    <img alt="raindrops on a window" class="background-img" src="~/mypictures/pexels-markus-spiske-110874.jpg"/>
    <div class="main">
        <h1 class="heading">Are you bored?</h1>
        <h2 class="activity">@Model.Activity</h2>
        @if (Model.Link != "")
        {
            <p class="learn-more">Learn about this random&nbsp;<a href="@Model.Link">activity</a>.</p>
        }
        <a class="refresh-link" href="/">New Activity</a>
        @* <div class="still-bored"> *@
        @*     <p class="subtitle" id="subtitle">Are you still bored?</p> *@
        @*     <div class="btn-group"> *@
        @*         <button id="yes-button">Yes</button> *@
        @*         <button id="no-button">No</button> *@
        @*     </div> *@
        @* </div> *@
    </div>
</div>
<script src="~/scripts/script.js"></script>